.home-container{
    padding: 180px 700px 270px 120px;
    //font-style: normal;
    //font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.home-title{
    padding-bottom: 25px;
}

.home-subtitle{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
    color: #5A6774;


}