.main-nav{
    height: 60px;
    background: #1890FF;
    display: flex;
    padding: 15px 0px 15px 40px;
}



.nav-logo-text{
    color: #FFF;
    font-size: 24px;
    
    &:hover{
        color: #FFF;
    }
}
